<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="controller.js"></script>
  <script type="text/javascript" src="ejemplo.js"></script>
  <link rel="shortcut icon" href="#" />
  <title ng-bind="respuesta">Practicas Angular js</title>
</head>

<body>
  <div class="container">
  <div> Entiendes el contenido de este libro?
    <input type="checkbox" ng-model="respuesta">
    <div ng-hide="respuesta">
      <h2>!Me esforzare más!</h2>
    </div>
    <div ng-show="respuesta">
      <h2>Felicidades!</h2>
    </div>
  </div>

  <div ng-controller="miCtrl">
    <h3 ng-bind="mensaje"> </h3>
  </div>

  <div>
    <div ng-controller="padreCtrl">
      <button ng-click="logPadre()">Padre</button><br><br>
      <div ng-controller="hijoCtrl">
        <button ng-click="logHijo()">Hijo</button><br><br>
        <div ng-controller="nietoCtrl">
          <button ng-click="logNieto()">Nieto</button><br><br>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="amigo">
    <p ng-bind="anuncio"></p>
    <input type="text" ng-model="anuncio">
  </div>
  <br><br>

  <div ng-controller="controlador">

    <form action="#">
      Contraseña: <input type="password" ng-model="password">
      <p ng-show="errorMinimo" style="font-size:11px!important; color:red!important">Error: No cumple con el mínimo de caracteres (6)</p>
    </form>
  </div>
  <br><br>

  <div ng-controller="algo">
    <form action="#">
      Contraseña: <input type="password" ng-model="password"><br><br>
      Rectificar: <input type="password" ng-model="password2">
      <p ng-hide="coincidencia">Error: Las contraseñas no coinciden</p>
    </form>
  </div>
  <br><br>
  <div ng-controller="insertando">
    <p>Seccion de comentarios</p>
    User name: <input type="text" ng-model="comentarioNew.user"><br><br>
    Comentario: <input type="text" ng-model="comentarioNew.comentario"><br><br>
    <button type="button" name="button" ng-click="inserta()">Agrega tu comentario</button>
    <button type="button" name="button" ng-click="limpiaTabla()">borrar comentarios</button>
    <ul>
      <li ng-repeat="publica in comentarios">
        <p> user: {{publica.user}} - comentario: {{publica.comentario}}</p>

      </li>
    </ul>
  </div>
   <div ng-controller="otroControlador">
<button type="button" name="button" ng-model="cambia" ng-click="descubre()">click here</button>
<ul ng-show="cambia">

    <li ng-repeat="muestra in informacion">
      <p>{{muestra.life}}</p>
      <p>{{muestra.space}}</p>
      <p>{{muestra.blackHole}}</p>
  </li>
</ul>
</div><br>

<div>
  Cual es tu estado de animo el dia de hoy <br><br>
  <input type="checkbox" ng-model="feliz">Feliz
  <select ng-show="feliz">
    <option value="genial">Genial</option>
    <option value="excelente">Excelente</option>
  </select>
  <input type="checkbox" ng-model="triste">Triste
  <select ng-show="triste">
    <option value="angustiado">Angustiado</option>
    <option value="deprimido">Deprimido</option>
  </select>
  <br><br>
  Selecciona tu genero <br><br>
  <input type="radio" name="genero" value="1" ng-model="hombre">Hombre {{hombre}}
  <select ng-show="hombre==1" ng-hide="mujer==2 || quimera==3">
    <option value="macho">Macho</option>
    <option value="Ay nomas">Ay nomas</option>
  </select>
  <br>
  <input type="radio" name="genero" value="2" ng-model="mujer">Mujer {{mujer}}
  <select ng-show="mujer==2">
    <option value="luchona">Luchona</option>
    <option value="hermosa">Hermosa</option>
  </select>
  <br>
  <input type="radio" name="genero" value="3" ng-model="quimera">Quimera {{quimera}}
  <select ng-show="quimera==3">
    <option value="alienigena">Alienigena</option>
    <option value="indefinido">Indefinido</option>
  </select>
</div>
</div>
</body>

</html>
